body {
    background-color: rgb(64, 64, 189);
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    width: 96vw;
    padding: 15px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.822);
}
footer {
    display: flex;
    color: white;
    opacity: 0.6;
    font-style: italic;
    justify-content: center;
    margin-top: 700px;

}
.oioi{
    display: flex;
    margin: auto;
    width: 96vw;
    margin-top: px;
    align-items: center;
}